.scoreView {
    background-color: #fcfcfc;
    margin: 10px;
    border: solid 1px #b4b4b4;

    .scoreLabel {
        font-family: 'Arial';
        font-size: 48px;
        font-weight: bold;
        margin-left: 10px;
    }
}

